<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Annotate Image</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <link rel="stylesheet" href="../static/style/annotation_style.css">
 
</head>
<body>
    

  <div style="  align-items: center; padding: 10px;  display: inline-flex;justify-content: center;flex-wrap: wrap;
  ">
  <a href="/">
    <img src="/static/abb_logo.png" alt="Upload Icon" class="image-icon">
  </a>
    
    <h1 style="margin: 0 auto; ">Annotate Image</h1>
    <div class="dropdown" style="display: inline-block; margin-left: 160px;">
        <button id="dropdownButton" class="dropbtn">Saved List &darr;</button>
        <div id="dropdownContent" class="dropdown-content" style="display: none; max-height: 200px; overflow-y: auto; margin-left: 0px; padding: 3px;
        border-radius: 2px;
        background-color:rgb(0 155 138);">
            <div id="annotations" style="color: white;"></div>
        </div>
    </div>
    <button onclick="window.location.reload();" style="
        padding: 5px 9px;
        margin-left: 15px;
        background-color: rgb(0 155 138)
    ">
        <span id="reset-icon">&#8635;</span>
      </button>
      
</div>

 
  
    
    
    
<div id="canvas-container">
    <canvas id="canvas"></canvas>
    <div class="controls">
      <label for="class-dropdown" style="padding-right:35px;  color:rgb(0, 0, 0); ">Select Class</label>
      <select id="class-dropdown">
          <option value="1">server</option>
          <option value="2">switch</option>
          <option value="3">firewall</option>
          <option value="4">workstation</option>
          <option value="5">controller</option>
          <option value="6">internet</option>
          <option value="7">printer</option>
          <option value="8">other</option>
          <option value="9">router</option>
          <option value="10">storage_device</option>

      </select>
      <input type="text" id="new-class" placeholder="New Class">
      <button id="add-class-button" onclick="addClass()">Add Class</button>
      <button id="reset-class-button" onclick="resetAddClass()">
        <span id="reset-icon">&#8635;</span> <!-- Unicode for refresh icon -->
      </button>
      <button id="draw-bounding-box-button" onclick="toggleDrawingMode()">Draw Bounding Box</button>
      <button id="delete-annotation-button" onclick="deleteAnnotationsInBox()">Delete Annotations</button>
      <!-- <img id="zoom-toggle" src="../static/icons8-zoom-all-48.png" style="border-radius: 200px; cursor: pointer;" onclick="disableZoom()"> -->
      
      <button id="annotate-button" onclick="annotateSelectedRectangle()">Annotate</button>
      <button id="select-region-button" onclick="toggleRegionSelection()">Select Region</button>
      <a href="/">
        <img src="/static/image-upload.png" alt="Home" class="image-icon" style="margin-top:40px; left:90px;">
    </a>
    </div>  
    
        
</div>






  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/5.3.1/fabric.min.js"></script>
  <script >
    
    var canvas = new fabric.Canvas('canvas', { width: 700, height: 500 });
    var currentClass = '';
    var drawingMode = false;
    var zoomEnabled = false;
    var zoomFactor = 1; // Track current zoom level
    var regionSelectionMode = false;
    var selectedRegion;

    canvas.on('mouse:wheel', updateObjectCoordinates);
    canvas.on('mouse:move', updateObjectCoordinates);
    canvas.on('mouse:up', updateObjectCoordinates);
    function enableResizing(rect) {
      console.log("check check ")
      rect.setControlsVisibility({
        mt: true,
        mb: true,
        ml: true,
        mr: true,
        tl: true,
        tr: true,
        br: true,
        bl: true,
        mtr: false
      });
     
      rect.selectable = false;
    
      canvas.renderAll();
    }


    function resetAddClass() {
 
    var classDropdown = document.getElementById('class-dropdown');
    classDropdown.options.length = 10; 

    // Clear the classes stored in localStorage
    localStorage.removeItem('classes');
}



function updateObjectCoordinates() {
  canvas.getObjects().forEach(function(object) {
    if (object.type === 'rect') {
      object.set({
        left: object.left * zoomFactor,
        top: object.top * zoomFactor,
        width: object.width * zoomFactor,
        height: object.height * zoomFactor
      });
    }
  });
  canvas.renderAll();
}

canvas.on('zoom', updateObjectCoordinates);
canvas.on('panning', updateObjectCoordinates);

function clearCanvasEventListeners() {
    canvas.off('mouse:down');
    canvas.off('mouse:move');
    canvas.off('mouse:up');
    canvas.off('mouse:wheel');
    canvas.off('zoom');
    canvas.off('panning');
}

window.addEventListener('beforeunload', function() {
    // Clear canvas event listeners before unloading the page
    clearCanvasEventListeners();
});

window.addEventListener('load', async function() {
            clearCanvasEventListeners();
            await loadCanvas();
            
        });


async function loadCanvas() {
    var filename = "{{filename}}"; // Replace "{{filename}}" with the actual filename
    var canvasWidth = 700; // Canvas width
    var canvasHeight = 500; // Canvas height

    fabric.Image.fromURL('/static/uploads/images/' + filename, function(img) {
        // Calculate scale to fit the image into the canvas
        var scale = Math.max(canvasWidth / img.width, canvasHeight / img.height);

        var scaledWidth = img.width * scale;
        var scaledHeight = img.height * scale;

        canvas.setDimensions({ width: scaledWidth, height: scaledHeight });
        console.log(canvas.width,canvas.height)
        // Set image scale and add it to the canvas
        img.set({
            scaleX: scale,
            scaleY: scale,
            selectable: false 
        });
        canvas.add(img);

        // To Center the image on the canvas
        img.center();

        var filename = "{{filename}}";
        var data={
              filename:filename
        }
        fetch('/fetch_annotations',{
              method: 'POST',
              headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
              },
              body: JSON.stringify(data)
              })
                .then(response => response.json())
                .then(data => {
                    // Loading the image onto the canvas
                    console.log("loading")
                  
                    console.log(data.annotations)
                    data.annotations.forEach(annotation => {
                        var rect = new fabric.Rect({
                            left: annotation.x,
                            top: annotation.y,
                            width: annotation.width,
                            height: annotation.height,
                            stroke: 'rgba(41, 207, 244,0.6)',
                            strokeWidth: 0.4,
                            fill: 'rgba(41, 207, 244,0.4)',
                            selectable: false  
                        });
                        canvas.add(rect);
                    });
                })
                .catch(error => {
                    console.error('Error:', error);
                });
    });
}


function showCustomAlert(textDisplay) {
            Swal.fire({
                title: 'alert!',
                text: textDisplay,
                timer: 1000,
                timerProgressBar: true,
                didOpen: () => {
                    Swal.showLoading()
                },
                willClose: () => {
                    // Perform any cleanup or additional actions here
                }
            });
        }

   

    var annotations = [];

    function saveAnnotation() {
  var data = {
    filename: "{{filename}}" + ".txt", 
    annotations: annotations.map(function(annotation) {
      return {
        x: annotation.annotation.x / zoomFactor, // Adjusting X coordinate based on the zoom
        y: annotation.annotation.y / zoomFactor, // Adjusting Y coordinate based on zoom
        class: annotation.annotation.class,  
        width: annotation.annotation.width,
        height: annotation.annotation.height,
       
      };
    })
  };

  fetch('/save_annotation', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'Accept': 'application/json'
    },
    body: JSON.stringify(data)
  })
  .then(response => response.json())
  .then(data => {
    if (data.success) {
      // alert('Annotation file saved successfully!');
      showCustomAlert('Annotation file saved successfully!');
    } else {
      // alert('Failed to save annotation file!');
      showCustomAlert('Failed to save annotation file!');
    }
  })
  .catch(error => {
    console.error('Error:', error);
  });
}


function addClass() {
    var newClass = document.getElementById('new-class').value.trim();
    if (newClass !== '') {
        var classDropdown = document.getElementById('class-dropdown');
        var option = document.createElement('option');
        
        // Assigning value starting from 11
        option.value = classDropdown.options.length + 10;
        
        option.text = newClass;
        classDropdown.appendChild(option);

        // Store the added class in localStorage
        var classes = JSON.parse(localStorage.getItem('classes')) || [];
        classes.push(newClass);
        localStorage.setItem('classes', JSON.stringify(classes));
    }
}



    function toggleDrawingMode() {
      drawingMode = !drawingMode;
      if (drawingMode) {
        canvas.selection = false;
        canvas.defaultCursor = 'crosshair';
        canvas.on('mouse:down', onMouseDown);
        disableZoom();
      } else {
        canvas.selection = true;
        canvas.defaultCursor = 'default';
        canvas.off('mouse:down', onMouseDown);
      }
      document.getElementById('draw-bounding-box-button').classList.toggle('button-used');
    }

    function onMouseDown(options) {
      
      if (drawingMode && options.target && options.target.type === 'image') {
        var startPoint = canvas.getPointer(options.e);
        var rect = new fabric.Rect({
          left: startPoint.x,
          top: startPoint.y,
          width: 0,
          height: 0,
          stroke: 'rgba(41, 207, 244,0.6)',
          strokeWidth: 0.4,
          fill: 'rgba(41, 207, 244,0.2)', 
          selectable: false,
          originX: 'left',
          originY: 'top'
        });
        canvas.on('mouse:move', onMouseMove);
        canvas.on('mouse:up', onMouseUp);
        canvas.add(rect);
        enableResizing(rect);
        var isLockedX = rect.get('lockScalingX');
        var isLockedY = rect.get('lockScalingY');

        console.log("Lock scaling X:", isLockedX);
        console.log("Lock scaling Y:", isLockedY);

        canvas.setActiveObject(rect);
      }
    }

    function onMouseMove(options) {
    if (drawingMode) {
         console.log("check1112");
        var endPoint = canvas.getPointer(options.e);
        var rect = canvas.item(canvas.getObjects().length - 1);
    
        var width = endPoint.x - rect.left;
        var height = endPoint.y - rect.top;
        width = Math.max(width, 0);
        height = Math.max(height, 0);
   
        rect.set({
            width: width,
            height: height
        });
        
        canvas.renderAll();
    }
}


   
function onMouseUp(options) {
    if (drawingMode) {
        canvas.off('mouse:move', onMouseMove);
        canvas.off('mouse:up', onMouseUp);
        canvas.renderAll(); 
        var rect = canvas.item(canvas.getObjects().length - 1);
        console.log("hello")
        var annotationObject = {
            annotation: {
                class: document.getElementById('class-dropdown').value,
                x: rect.left,
                y: rect.top,
                width: rect.width,
                height: rect.height
            },
            object: rect 
        };

        annotations.push(annotationObject);
        
    }
}


function toggleZoom() {
    zoomEnabled = !zoomEnabled;
    if (zoomEnabled) {
        enableZoom();
    } else {
        disableZoom();
    }
    document.getElementById('zoom-toggle').classList.toggle('button-used');
}


function enableZoom() {
        zoomEnabled = true;
        canvas.wrapperEl.style.cursor = 'grab';
        var scale = 1,
        lastPosX = 0,
        lastPosY = 0,
        isPanning = false;

    canvas.wrapperEl.style.cursor = 'grab';

    canvas.wrapperEl.addEventListener('mousedown', function (e) {
        if (canvas.isDrawingMode || !zoomEnabled ) {
            return;
        }
        isPanning = true;
        lastPosX = e.clientX;
        lastPosY = e.clientY;
        canvas.wrapperEl.style.cursor = 'grabbing';
    });

    canvas.wrapperEl.addEventListener('mousemove', function (e) {
        if (!isPanning || !zoomEnabled) {
            return;
        }
        const deltaX = e.clientX - lastPosX;
        const deltaY = e.clientY - lastPosY;

        canvas.relativePan(new fabric.Point(deltaX, deltaY));
        lastPosX = e.clientX;
        lastPosY = e.clientY;
    });

    canvas.wrapperEl.addEventListener('mouseup', function () {
        if (!zoomEnabled) {
            return;
        }
        isPanning = false;
        canvas.wrapperEl.style.cursor = 'grab';
    });

    canvas.wrapperEl.addEventListener('mouseleave', function () {
        if (!zoomEnabled) {
            return;
        }
        isPanning = false;
        canvas.wrapperEl.style.cursor = 'grab';
    });
    }

    function disableZoom() {
        zoomEnabled = false;
        canvas.wrapperEl.style.cursor = 'default';
    }

    

    canvas.wrapperEl.addEventListener('mouseover', function() {
        var value = isAnnotationButtonActive();
        if(value==false)
        enableZoom();
    });

    // Event listener for mouse out of canvas
    canvas.wrapperEl.addEventListener('mouseout', function() {
        disableZoom();
    });

    // Event listener for mouse wheel to zoom
    canvas.wrapperEl.addEventListener('wheel', function(e) {
        if (zoomEnabled) {
            var pointer = canvas.getPointer(e);
            var zoom = canvas.getZoom();
            var zoomFactor = 1.05; // Adjust the zoom factor for desired speed

            var newZoom = zoom;
            if (e.deltaY > 0) {
                newZoom = zoom / zoomFactor;
            } else {
                newZoom = zoom * zoomFactor;
            }

            // Limit zoom level between 0.5 and 5
            newZoom = Math.max(0.5, Math.min(5, newZoom));

            // Check if zoom out goes below the original size
            if (newZoom < 1) {
                newZoom = 1;
            }

            canvas.zoomToPoint({ x: pointer.x, y: pointer.y }, newZoom);
            e.preventDefault();
            e.stopPropagation();
        }
    });

    function isAnnotationButtonActive() {
    // Check if any of the annotation buttons are active
    return document.getElementById('draw-bounding-box-button').classList.contains('button-used') ||
           document.getElementById('delete-annotation-button').classList.contains('button-used') ||
           document.getElementById('annotate-button').classList.contains('button-used')||
           document.getElementById('select-region-button').classList.contains('button-used-select');
}

var deleteMode = false; // Track delete annotation mode
var isDrawingBox = false; // Track if drawing bounding box

function deleteAnnotationsInBox() {
    deleteMode = !deleteMode; 

    if (deleteMode) {
        // Add event listeners for mouse events on canvas
        canvas.on('mouse:down', onMouseDownDelete);
        canvas.on('mouse:move', onMouseMoveDelete);
        canvas.on('mouse:up', onMouseUpDelete);
        document.getElementById('delete-annotation-button').classList.add('button-used');
    } else {
        // Remove event listeners for mouse events on canvas
        canvas.off('mouse:down', onMouseDownDelete);
        canvas.off('mouse:move', onMouseMoveDelete);
        canvas.off('mouse:up', onMouseUpDelete);
        document.getElementById('delete-annotation-button').classList.remove('button-used');
        isDrawingBox = true; }
}

function onMouseDownDelete(options) {
    if (!drawingMode && !isDrawingBox) {
        isDrawingBox = true;
        startPoint = canvas.getPointer(options.e); // Capture initial click coordinates
    
        boundingBox = new fabric.Rect({
            left: startPoint.x,
            top: startPoint.y,
            width: 0,
            height: 0,
            fill: 'rgba(197, 66, 237, 0.35)', 
            stroke: 'black',
            strokeWidth: 0.5,
            selectable: false
        });
        canvas.add(boundingBox);
    }
}

function onMouseMoveDelete(options) {
    if (isDrawingBox) {
        var pointer = canvas.getPointer(options.e);
        var box = new fabric.Rect({
            left: Math.min(startPoint.x, pointer.x),
            top: Math.min(startPoint.y, pointer.y),
            width: Math.abs(pointer.x - startPoint.x),
            height: Math.abs(pointer.y - startPoint.y),
            fill: 'rgba(197, 66, 237, 0.35)',
            stroke: 'black',
            strokeWidth: 0.5,
            selectable: false
        });
        canvas.remove(boundingBox); 
        boundingBox = box;
        canvas.renderAll();
    }
}

function onMouseUpDelete(options) {
    if (isDrawingBox) {
        isDrawingBox = false;
        document.getElementById('delete-annotation-button').classList.add('button-used');
        var endPoint = canvas.getPointer(options.e);
        var boxCoords = boundingBox.getBoundingRect();

        // Array to store annotations to delete
        var annotationsToDelete = [];

        // Iterate over all objects on the canvas
        canvas.getObjects().forEach(function(object) {
            // Check if the object is a rectangle (annotation)
            if (object.type === 'rect') {
                var rect = object.getBoundingRect();
                console.log("yes correct")
                console.log(rect);
                // Check for intersection between the annotation and the bounding box
                if (
                    rect.left <= boxCoords.left + boxCoords.width &&
                    rect.left + rect.width >= boxCoords.left &&
                    rect.top <= boxCoords.top + boxCoords.height &&
                    rect.top + rect.height >= boxCoords.top
                ){
                    annotationsToDelete.push(object);
                    console.log("yes correct1")
                }
            }
        });
        console.log(annotations)
        console.log(annotationsToDelete)
        // Remove annotations from the canvas
        annotationsToDelete.forEach(function(object) {
          console.log(object);
          console.log("deleted")
            canvas.remove(object);
            console.log("Object removed");
        });

      
        canvas.remove(boundingBox);

        console.log("check1",annotations.length)
        console.log("check1",annotationsToDelete.length)
        annotations = annotations.filter(function(annotation) {
            return !annotationsToDelete.includes(annotation.object);
        });
        console.log("check2",annotations.length)
        var deleteannotations=[];
        annotationsToDelete.forEach((annotation)=>{
            deleteannotations.push([annotation.left,annotation.top,annotation.width,annotation.height]);
        })
        console.log(deleteannotations);

        removedeletedannotation(deleteannotations);

    }
}

function removedeletedannotation(annotationsToDelete)
{
   filename='{{filename}}'
   data={
      filename:filename,
      annotationsToDelete:annotationsToDelete
   }

   fetch('/delete_annotations',{
              method: 'POST',
              headers: {
              'Content-Type': 'application/json',
              'Accept': 'application/json'
              },
              body: JSON.stringify(data)
              })
                .then(response => response.json())
                .then(data=>console.log(data.message))
                .catch(error => {
                    console.error('Error:', error);
                });

}

window.addEventListener('load', function() {
        var storedClasses = JSON.parse(localStorage.getItem('classes')) || [];
        var classDropdown = document.getElementById('class-dropdown');
        storedClasses.forEach(function(className, index) {
            var option = document.createElement('option');
            option.value = index;
            option.text = className;
            classDropdown.appendChild(option);
        });
    });


var selectedRectangle = null;
function annotateSelectedRectangle() {
      selectedRectangle=canvas.getActiveObject();
      if (selectedRectangle) {
        // Get selected rectangle's class and coordinates
        console.log(selectedRectangle)
        console.log(document.getElementById('class-dropdown').value,selectedRectangle.left,selectedRectangle.top,selectedRectangle.width,selectedRectangle.height)
        var classId = document.getElementById('class-dropdown').value;
        var x = selectedRectangle.left;
        var y = selectedRectangle.top;
        var width = selectedRectangle.width * zoomFactor; // Adjust width based on zoom factor
        var height = selectedRectangle.height * zoomFactor; // Adjust height based on zoom factor
        var filename = "{{filename}}";
        
        // Prepare data to send to the backend
        var data = {
          class: classId,
          x: x,
          y: y,
          width: width,
          height: height,
          filename: filename,
          can_width:canvas.width,
          can_height:canvas.height
        };
        fetch('/annotate_rectangle', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
          },
          body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.length)
            console.log(data)
            function renderBoundingBoxes(boundingBoxes) {
            var canvas1 = document.getElementById('canvas');
            var ctx = canvas1.getContext('2d');

            // canvas.clear();
            canvas.discardActiveObject();
            if(annotations.length > 0)
            {
                annotations.pop();
            }
            for (var i = 0; i < boundingBoxes.length; i++) {
                var bbox = boundingBoxes[i];
                var x = bbox.x;
                var y = bbox.y;
                var width = bbox.width;
                var height = bbox.height;

                
                var rect = new fabric.Rect({
          left: x,
          top: y,
          width: width,
          height: height,
          stroke: 'rgba(41, 207, 244,0.6)',
          strokeWidth: 0.4,
          fill: 'rgba(41, 207, 244,0.4)', // Transparent fill
          selectable: false,
          originX: 'left',
          originY: 'top'
        });

        var annotationObject = {
            annotation: {
                class: document.getElementById('class-dropdown').value,
                x: rect.left,
                y: rect.top,
                width: rect.width,
                height: rect.height
            },
            object: rect 
        };

        annotations.push(annotationObject);

        canvas.add(rect);

            }
        }

        renderBoundingBoxes(data);

        saveAnnotation();
        })
        .catch(error => {
          console.error('Error:', error);
          // alert('An error occurred while annotating the rectangle.');
          showCustomAlert('An error occurred while annotating the rectangle.');
        });
      } else {
        // alert('Please select a rectangle to annotate.');
        showCustomAlert('Please select a rectangle to annotate.')
      }
    }

    canvas.on('mouse:down', function(event) {
      if (event.target && event.target.type === 'rect') {
        selectedRectangle = event.target;
      } else {
        selectedRectangle = null;
      }
    });
    


function getClassFromLocalStorage(classNumber) {
    var classes = JSON.parse(localStorage.getItem('classes')) || [];
    var className = classes[classNumber - 1]; // Since class numbers start from 1

    // If className is undefined, fall back to default class names
    if (!className) {
        // Default class names
        var defaultClasses = [
            "server",
            "switch",
            "firewall",
            "workstation",
            "controller",
            "internet",
            "printer",
            "other",
            "router",
            "storage_device"
        ];
        className = defaultClasses[classNumber - 1]; // Since class numbers start from 1
    }

    return className;
}




function onMouseDownSelectRegion(event) {
    if (selectedRegion) {
        canvas.remove(selectedRegion);
    }
    var startPointRegion = canvas.getPointer(event.e);
    selectedRegion = new fabric.Rect({
        left: startPointRegion.x,
        top: startPointRegion.y,
        width: 0,
        height: 0,
        stroke: 'rgb(255, 117, 26)',
        strokeWidth: 0.4,
        fill: 'rgb(255, 117, 26,0.34)',
        selectable: false,
        originX: 'left',
        originY: 'top'
    });
    canvas.add(selectedRegion);

    canvas.on('mouse:move', function(event) {
        var endPointRegion = canvas.getPointer(event.e);
        selectedRegion.set({
            width: endPointRegion.x - startPointRegion.x,
            height: endPointRegion.y - startPointRegion.y
        });
        canvas.renderAll();
    });

    canvas.on('mouse:up', onMouseUpSelectRegion);
}
$(document).ready(function() {
    var filename = "{{filename}}";
    fetchAnnotations(filename);
});

function toggleRegionSelection() {
    regionSelectionMode = !regionSelectionMode;
    if (regionSelectionMode) {
        disableZoom();
        canvas.defaultCursor = 'crosshair';
        canvas.selection = false; 
        canvas.on('mouse:down', onMouseDownSelectRegion);
    } else {
        canvas.defaultCursor = 'default';
        canvas.selection = true; 
        canvas.off('mouse:down', onMouseDownSelectRegion);
        if (selectedRegion) {
            canvas.remove(selectedRegion);
            selectedRegion = null;
        }
    }
    document.getElementById('select-region-button').classList.toggle('button-used-select');
}

function onMouseUpSelectRegion(event) {
    canvas.off('mouse:move');
    canvas.off('mouse:up');
    canvas.selection = true; 
    selectedRegion.setCoords();

    var x = selectedRegion.left;
    var y = selectedRegion.top;
    var width = selectedRegion.width;
    var height = selectedRegion.height;
    var filename = "{{filename}}";
  
    var data = {
        filename: filename,
        x: x,
        y: y,
        width: width,
        height: height
    };

   
    
    fetch('/highlight_components', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        highlightComponents(data);
    })
    .catch(error => {
        console.error('Error:', error);
        // alert('An error occurred while sending coordinates to the backend.');
        showCustomAlert('An error occurred while sending coordinates to the backend.');
    });
}

function fetchAnnotations(filename) {
    $.ajax({
        type: 'POST',
        url: '/fetch_annotations',
        contentType: 'application/json',
        data: JSON.stringify({ filename: filename }),
        success: function(response) {
            // to Clear previous annotations
            $('#annotations').empty();
            
            // to Check if annotations exist
            if (response.annotations.length > 0) {
                var classList = document.createElement('ul');
                classList.id = 'class-list';
                classList.style.listStyleType = 'none';
                response.annotations.forEach(function(annotation, index) {
    var listItem = document.createElement('li');
    var className = getClassFromLocalStorage(annotation.class);
    var uniqueId = `C${String(index).padStart(3, '0')}`; 
    listItem.textContent = `${className} (${uniqueId})`;
    listItem.className = uniqueId; 
    classList.appendChild(listItem);
});

                $('#annotations').append(classList);
            } else {
                $('#annotations').text('No annotations found.');
            }
        },
        error: function(error) {
            console.error('Error fetching annotations:', error);
        }
    });
}

function highlightComponents(data) {
    $('.highlighted-component').removeClass('highlighted-component');

    if (data.length > 0) {
        data.forEach(function(component) {
            var uniqueId = component.id;
            console.log('Selected unique ID:', uniqueId);
            var elementsToHighlight = $(`.${uniqueId}`);
            elementsToHighlight.addClass('highlighted-component');
        });
    } else {
        console.log("No classes detected");
    }

    highlightClassNamesInList(data);
}

function highlightClassNamesInList(data) {
    // Clearing previous highlights
    $('#class-list li').css('background-color', '');

    if (data.length > 0) {
        data.forEach(function(component) {
            var uniqueId = component.id;
            $(`#class-list li.${uniqueId}`).css('background-color', '#ff9a0c');
        });
    }
}

document.addEventListener('DOMContentLoaded', function() {
            var dropdownButton = document.getElementById('dropdownButton');
            dropdownButton.addEventListener('click', function() {
                if (dropdownButton.innerHTML.includes('↓')) {
                    dropdownButton.innerHTML = 'Saved List &uarr;';
                } else {
                    dropdownButton.innerHTML = 'Saved List &darr;';
                }
            });
        });
        
document.getElementById("dropdownButton").addEventListener("click", function() {
    var dropdownContent = document.getElementById("dropdownContent");
    if (dropdownContent.style.display === "none") {
        dropdownContent.style.display = "block";
    } else {
        dropdownContent.style.display = "none";
    }
});

document.addEventListener('click', function(event) {
    var target = event.target;
    if (!regionSelectionMode && selectedRegion && !canvas.containsPoint(target, selectedRegion)) {
        canvas.remove(selectedRegion);
        selectedRegion = null;
    }
});


  </script>
</body>
</html>
